.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.box {
    width: 100px;
    height: 100px;
    background-color: red; /*Color fondo*/
}


body {
    background-color: #ffc8dd;
}

h1,
h2,
p {
    font-family: 'Times New Roman', Times, serif;
}
aside h2 {
    text-align: center;
}

h1 {
    text-align: center;

    color: #801515
}

h2 {
    font-size: 20px;

    color: #AA3939;
}

p {
    font-size: 15px;

    color: #EA5454;

}

.padre {
    display: flex;
    justify-content: left;

}

.hijo {
    padding: 10px;
}

footer {
    margin-top: 10px;
    background-color: #ffb3c6;
}

aside {
    margin-left: 35px;
    background-color: #f0e6ef;
  width: 200px; 
    list-style-type: none;
}

.ff {
    display: flex;
}

body {
    margin: 0;
    padding: 0;
}
html {

    font-size: 10px;
    background-image: url(ll.png);
}

body {
    width: 80%;
    margin: 0 auto;
}
