@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
body {
    width: 80%;
    margin: 0 auto;
font-family: 'Times New Roman', Times, serif;    
}

html {
    background-image: url(ll.png);
}

main {
    background-color: white;
}
/*header*/
header {
    text-align: center;
    font-size: 1.5em;
    position: sticky;
    top: 0;
    background-color: white;
}
/*Texto*/
p,
h2 {
    font-family: 'Merriweather', serif;
}

h2 {
    text-align: center;
    margin-top: 25px;
}

h4 {
    background-color: #f8c6c6cb;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}


/*Cajas*/
.conteiner {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.padre {
    display: flex;
    justify-content: left;
    justify-content: space-around;
}

.producto1 {
    width: 50%;
}

.producto {
    width: 33%;
}

/*Imagen*/
.producto-img {
    width: 250px;
    height: 218px;
}

picture {
    display: flex;
    justify-content: center;
}

/*Nav*/
nav {
    background-color: #ffd6ff;
    display: flex;
    margin-bottom: 10px;
}

nav ul {
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;

}

nav li {
    display: inline;
    text-align: center;
    flex: 1;
}

nav a {
    display: inline-block;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

nav form {
    flex: 1;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1.5em;
}

nav a:hover {
    text-decoration-line: underline !important;
}

/*footer*/
footer p {
    margin-left: 10px;
}
footer {
    margin-top: 10px;
    background-color: #ffd6ff;
    margin-top: 30px;
}

.separar {
    /*/hacer en el pie de pagina las redes/*/
    text-decoration: none;
    border: 7px;
    display: inline-block;
}
